<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:tcp://localhost/~/test</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!--        <mapping class="cases.unidirectional.Vehicle"/>-->
        <!--        <mapping class="cases.unidirectional.LeaseContract"/>-->

        <!--        <mapping class="cases.manytoone.bidirectional.Vehicle"/>-->
        <!--        <mapping class="cases.manytoone.bidirectional.LeaseContract"/>-->

        <!--        <mapping class="cases.manytoone.cascade.Vehicle"/>-->
        <!--        <mapping class="cases.manytoone.cascade.LeaseContract"/>-->

        <!--        <mapping class="cases.manytoone.jointable.Vehicle"/>-->
        <!--        <mapping class="cases.manytoone.jointable.LeaseContract"/>-->

        <!--        <mapping class="cases.onetoone.sharedKey.User"/>-->
        <!--        <mapping class="cases.onetoone.sharedKey.UserDetails"/>-->

        <!--        <mapping class="cases.onetoone.foreignKey.User"/>-->
        <!--        <mapping class="cases.onetoone.foreignKey.BillingInformation"/>-->

        <!--        <mapping class="cases.onetoone.jointable.User"/>-->
        <!--        <mapping class="cases.onetoone.jointable.User"/>-->

        <!--        <mapping class="cases.onetoone.mapsid.User"/>-->
        <!--        <mapping class="cases.onetoone.mapsid.UserDetails"/>-->

        <!--        <mapping class="cases.manytomany.simple.Vehicle"/>-->
        <!--        <mapping class="cases.manytomany.simple.Tag"/>-->

        <mapping class="cases.manytomany.intermediateentity.Tag"/>
        <mapping class="cases.manytomany.intermediateentity.Vehicle"/>
        <mapping class="cases.manytomany.intermediateentity.TaggedVehicle"/>
    </session-factory>
</hibernate-configuration>